<br/>
<div class="container form">

	<h2 class="text-center">Edit Patient Information</h2>

	<br/>

	<%= render 'form' %>

	<br/>

	<div class="text-right">
		<%= link_to 'Back', patient_path(@patient), :class => "btn btn-default" %>
	</div>

</div>