<article class="patients">

 <br>

<% if current_user.patient_id.present? %>

  <% @patients.each do |patient| %>
  <div class="row">
    <div class="col-xs-offset-2 col-xs-8">
      <h2><%= link_to patient.name, patient, :class=>"btn patient-link" %></h2>
    </div>
  </div>
  <% end %>


<% else %> 

  <div class="row">
    <div class="col-xs-offset-2 col-xs-8">
      <h2><%= link_to "Fill out patient questionnaire", new_patient_path(@patient), :class=>"btn patient-link" %></h2>
    </div>
  </div>

<% end %> 


</article>
