<article class="goal">
	<div class="row text-center goal-header">
	  <div class="col-xs-1">
	    <i class="fa fa-trophy fa-3x"></i>
	  </div>
	  <div class="col-xs-10">
	    <h2>Goal: <%=@goal.description%> (EDIT)</h2>
	  </div>
	</div><hr>

	<div class="goal-edit row">

		<div class="col-md-offset-1 col-md-10">

			<%= render 'edit_form' %>

			<br/>

			<div class="text-right">
				<%= link_to 'Back', patient_path(@patient), :class => "btn btn-default" %>
			</div>
		</div>

	</div>
</article>
