

.login-background {
  height: 100%;
  font-family: 'Open Sans', sans-serif;
  padding: 20px;
  height: 100vh;
  margin-top: -50px;
  background-color: #3A5264;


  .login-panel {
    width: 33.33%;
    font-size: 12px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

    .credentials{
      background-color: #fff;
      padding: 20px;
    }

    .sign-in{
      margin-top: 10px;
      background-color: #1EBBA6;
    }

    .links{
      a {
        color: #fff;
      }
    }
  }

  // HELPERS / UTILITIES
  // ====================
  .u-spacer10 {
    margin-bottom: 10px;
  }

  .u-spacer20 {
    margin-bottom: 20px;
  }


  // BUTTONS
  // ====================

  .button {
    font-size: 12px;
    text-transform: uppercase;
    padding: 12px;
    display: block;
    width: 100%;
    text-align: center;
    background: none;
    color: white;
    transition: all 0.15s ease-in-out;

    &:hover {
      background: lighten(#1EBBA6, 5%);
    }
  }

  // FORMS
  // ====================

  label {
    font-weight: normal;
    font-size: 12px;
  }

  input[type="password"],
  input[type="email"] {
    border: 2px solid #bdc3c7;
    color: #bdc3c7;
    border-radius: 3px;
    display: block;
    width: 100%;
    padding: 12px;
    font-size: 12px;
    transition: all 0.15s ease-in-out;
  }

  input[type="password"]:focus,
  input[type="email"]:focus {
    background: lighten(#bdc3c7, 5%);
    color: #fff;
    outline: none;
    outline-offset: 0;
  }

  input[type="submit"]:focus {
    outline: none;
    outline-offset: 0;
  }

  ::-webkit-input-placeholder {
     color: black;
  }

  :-moz-placeholder { /* Firefox 18- */
     color: black;  
  }

  ::-moz-placeholder {  /* Firefox 19+ */
     color: black;  
  }

  :-ms-input-placeholder {  
     color: black;  
  }

  .checkselect {
    input[type="checkbox"] {
      position: absolute;
      left: -9999px;
    }

    input[type=checkbox]:checked + label:before {
      color: white;
    }
  }

  .customCheckbox {
    &:before {
      content: '';
      display: inline-block;
      vertical-align: middle;
      height: 20px;
      width: 20px;
      border-radius: 3px;
      background: #bdc3c7;
      box-shadow: 0 2px 0 darken(#bdc3c7, 15%);
      margin-right: 10px;
      font-family: 'FontAwesome';
      content: "\f00c";
      text-align: center;
      line-height: 20px;
      color: transparent;
      transition: all 0.15s ease-in-out;
    }
  }


}
