<% flash.each do |name, msg| %>
  <% if msg.is_a?(String) %>
    <div class="container alert alert-<%= name.to_s == 'notice' ? 'success' : 'danger' %>" style="z-index:1000; position: absolute; opacity: 0.95;">
      <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
      <%= content_tag :div, msg, :id => "flash_#{name}" %>
    </div>
  <% end %>
<% end %>
